
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  padding: 10px;
  border-bottom: 2px solid #eee;
}
.header .login {
}

.header .title {
}

.home {
  grid-column: 1 / -1;
}
.search-wrapper {
  background: url('https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4505ad993e9162d9ccf05d2670a26916&auto=format&fit=crop&w=800&q=80');
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-size: cover;
}


.gallery {
  grid-column: 1 / 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.gallery .item {
}
.gallery .item h1 {
  padding: 10px 0;
}
.gallery .item img {
  width: 100%;
  background: #eee;
  height: 150px;
}

.inspect {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background: #fff;
  width: 500px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.inspect h1 {
  padding: 10px;
}

.inspect .exit {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}
.inspect .img img {
  width: 60%;
  display: block;
  margin: auto;
}
.inspect p {
  margin: 0;
  padding: 0 20px;
  float: left;
}
.inspect .details .meta {
  flex: 0 1 50%;
}
.inspect .details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inspect .address {
  padding: 10px;
  background: #eee;
  margin: 20px 0;
  flex: 1 1 40%;
  margin-left: auto;
}
.inspect .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.inspect .btn-bottom {
  width: 100%;
}
.inspect .purchase {
  width: 100%;
}

.shoe h1 {
  padding: 30px;
}
.shoe {
  grid-column: 1 / -1;
}
.shoe .mid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}
.shoe .mid .desc {
  grid-column: span 4 / -1;
}
.shoe .mid .shoe-scroller {
  grid-column: span 7;
}

.shoe-scroller .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.shoe-scroller .slider:hover {
  opacity: 1;
}

.shoe-scroller .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.shoe-scroller .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}