
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  padding: 10px;
  border-bottom: 2px solid #eee;
}
.header .login {
}

.header .title {
}

.gallery {
  grid-column: 1 / 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.gallery .item {
}
.gallery .item h1 {
  padding: 10px 0;
}
.gallery .item .img {
  background: #eee;
  height: 150px;
  position: relative;
}
.gallery .item .img > div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-weight: bold;
}

.settings {
  display: flex;
  grid-column: span 3;  
  flex-direction: column;
  border-left: 2px solid #eee;
  padding: 20px;
}
.settings .item {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings .item .label {
  
}
.settings .item button {

}