
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  padding: 10px;
  border-bottom: 2px solid #eee;
}
.header .login {
}

.header .title {
}

.gallery {
  grid-column: 1 / 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.gallery .item {
}
.gallery .item h1 {
  padding: 10px 0;
}
.gallery .item .img img {
  width: 100%;
}
.gallery .item .img {
  background: #eee;
  height: 150px;
  position: relative;
  overflow: hidden;
}
.gallery .item .img > div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-weight: bold;
}
.gallery .item .img span {
  display: block;
  text-align: right;
  margin-bottom: 5px;
  color: #FFF;
  text-shadow: 0 0 5px #000;
}

.settings .head h1 {
  font-weight: bold;
}
.settings .head {
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.settings .head img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.settings {
  display: flex;
  grid-column: span 3;  
  flex-direction: column;
  border-left: 2px solid #eee;
  padding: 20px;
}
.settings .item {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings .item .label {
  
}
.settings .item button {
  flex-grow: 2;
}

.inspect {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background: #fff;
  width: 500px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.inspect h1 {
  padding: 10px;
}

.inspect .exit {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}
.inspect .img img {
  width: 100%;
}
.inspect p {
  margin: 0;
  padding: 0 20px;
  float: left;
}
.inspect .details .meta {
  flex: 0 1 50%;
}
.inspect .details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inspect .address {
  padding: 10px;
  background: #eee;
  margin: 20px 0;
  flex: 1 1 40%;
  margin-left: auto;
}
.inspect .img {
  background: #eee;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.inspect .purchase {
  width: 100%;
}